/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 30, 2016, 1:20:32 PM
    Author     : Administrator
*/
.table-report > thead > tr > th, .table-report > tbody > tr > td{
    padding: 3px;
}

.table-report  .footer-row  td{
    font-weight: bold;
    font-size: 14px;
    color: darkslategray;
    background-color: rgb(245, 245, 245);
}


.btn-sidebar-search{
    padding: 0px 5px;
    border-radius: 2px;
    margin-right: 5px;
}


.infobox {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #ccc !important;
    border-image: none;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 1px 5px 17px -11px;
    color: #555;
    display: inline-block;
    margin: 16px 4px;
    position: relative;
    text-align: left;
    vertical-align: middle;
    width: 100%;
}

.infobox:hover {
    background-color: #f1f1f1;
    border-color: #a9cccc !important;
}
    

.infobox > .infobox-data > .infobox-data-number {
    font-size:14px;
}

.infobox-collapsed-footer{
    text-align: center;
}

.form-group{
    margin-bottom: 0px;
}

.help-block{
    margin-bottom: 0px;
    margin-top: 0px;
}

.ajaxlink{
    
}


.right-align{
    text-align: right;
}